@import "../partials/vars";

.item-color {

  .picker {
  }

  .value {
    width: rem(10px);
    border-color: $color-grey-medium;
    border-width: 1px;
    border-style: solid;
  }

  .color-box-wrap {
    display:none;
    box-sizing: border-box;
    position: relative;
    height: 0;
    width: 100%;
    padding: 0 0 100% 0; // overridden with inline style
    margin: 0.6em 0 0em;

    &.show {
      display: block;
    }

    .color-box-container {
      position: absolute;
      height: 99.97%;
      width: 100%;
      left: 0;
      top: 0;

      .color-box {
        float:left;
        cursor: pointer;

        &.rounded-tl {
          border-top-left-radius: rem($border-radius);
        }

        &.rounded-tr {
          border-top-right-radius: rem($border-radius);
        }

        &.rounded-bl {
          border-bottom-left-radius: rem($border-radius);
        }

        &.rounded-br {
          border-bottom-right-radius: rem($border-radius);
        }
      }

    }
  }
}
