{
  "extends": "pebble",
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "Pebble": true
  },
  "rules": {
    "new-cap": [0],
    "max-params": [2, 4],
    "require-jsdoc": [2, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": false
      }
    }],
    "valid-jsdoc": [2, {
      "requireParamDescription": false,
      "requireReturnDescription": false,
      "requireReturnType": true
    }]
  }
}

