# Coverage directory used by tools like istanbul
/coverage

# node-waf configuration
.lock-wscript
/.lock-waf_darwin_build

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules

/tmp/
/src/js/index.js
/dist.zip
/build/
