@import "vendor/bourbon/bourbon";
@import "partials/vars";
@import "partials/mixins";

html, body {
  @include font-pfdin(regular);
  font-size: $em-base;
  height:100%;
  color: $color-white;

  &.platform-ios {
    font-size: 13px;
  }

}

body {
  background-color: $color-grey-darker;
}

strong {
  @include font-pfdin(medium);
  color: $color-orange;
}

button,
.button,
input[type="submit"] {
  @include font-pfdin(medium);
  text-transform: uppercase;
  background-color: $color-grey-medium;
  border-radius: rem($border-radius);
  font-size: rem(18px);
  line-height: rem($button-line-height);
  border: none;
  display: block;

  color: $color-white;
  margin: 0 auto rem(12px);
  width:  100%;
  text-align: center;
  @include user-select(none);
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  padding: rem($button-padding);
  .platform-ios & {
    padding: rem($button-padding-ios);
  }

  &:disabled {
    background-color: $color-grey-dark;
    color: $color-grey-lighter;
  }

  &:not(:disabled):active {
    background-color: $color-grey-lighter;
  }

  &.orange {
    background-color: $color-orange;

    &:disabled {
      background-color: darken($color-orange, 20%);
      color: $color-grey-lighter;
    }

    &:not(:disabled):active {
      background-color: $color-red;
    }
  }

  &.light-grey {
    background-color: $color-grey-light;
  }

}

a.button {
  text-decoration: none;
  color: $color-white;
}

a {
  color: $color-grey-lighter;

  &:hover {
    color: inherit;
  }
}

.inputs {
  display: block;
  width:100%;
  border-collapse: collapse;
  margin-bottom: rem(20px);

  @include font-pfdin(light);

  label {
    display: table-row;

    .label,
    .input {
      display: table-cell;
      padding: rem(13px) rem(10px) rem(13px) rem(5px);
      font-size: rem(21px);
      border-bottom: $border-standard;
      position:relative;

      &.no-border {
        border-bottom: none;
      }
    }

    .input {
      width: 100%;

      input {
        display:inline-block;
        width: 100%;
        background: transparent;
        border: none;
        padding: 0;
        vertical-align: baseline;
        font-size: rem(21px);
        @include font-pfdin(light);
        color: $color-white;

        @include placeholder {
          color: $color-grey-lighter;
        }

        &:focus {
          @include placeholder {
            color: $color-grey-dark;
          }
          border: none;
          box-shadow: none ;
        }
      }
    }

    &:last-child .label,
    &:last-child .input {
      border-bottom: none;
    }

    &:first-child .label,
    &:first-child .input {
      padding-top: 0;
    }

    &:only-child .label,
    &:only-child .input {
      border-bottom: $border-standard;
      border-top: $border-standard;
      padding-top: rem(13px);
    }

    &.invalid {
      .input:after {
        content: "!";
        display: inline-block;
        color: $color-white;
        background: $color-orange;
        border-radius: 0.6em;
        width: 1.2em;
        text-align: center;
        height: 1.2em;
        font-size: 1em;
        vertical-align: middle;
        line-height: 1.3em;
        margin-left: -0.7em;
        position:absolute;
        @include font-pfdin(regular);
      }

      .input input {
        color: $color-orange;
        padding-right: 1em;

        @include placeholder {
          color: $color-orange;
        }

      }
    }

  }
}

.view-inner-container {
//  @include display(flex);
//  @include flex-direction(column);
//  @include flex-wrap(nowrap);
//  @include align-content(stretch);
  height:100%;
  width:100%;
  display: table;
  table-layout: fixed;
}

.form-container {
//  @include flex-grow(1);
//  @include display(flex);
//  @include flex-direction(column);
//  @include flex-wrap(nowrap);
//  @include justify-content(center);
  height: 100%;
  display: table-row;

  form {
    display: table-cell;
    vertical-align: middle;
    padding: rem($global-margin/2) rem($form-margin);
  }

  .buttons {
    padding: 0 rem($global-margin - $form-margin);
  }

}


footer {

  text-align: center;
  font-size: rem(14px);
  line-height: 1;

  .privacy-policy-link {
    display: block;
  }
}

.caption {

  text-align: center;
  margin: 0 auto rem(25px);
  color: $color-grey-lightest;
}


//
//
//html, body {
//  height: 100%;
//  margin: 0;
//}
//
//.hide {
//  display:none;
//}
//.item-styled-color .value {
//  box-sizing: border-box;
//  height: 26px;
//}
//
//.item-container {
//  margin-top: 0;
//  padding-top: 15px;
//}
//
//input[type="button"]:disabled {
//  background-color: #ccc;
//}
//
//#cancel-btn {
//  background-color: #444;
//}
//
//#cancel-btn,
//#save-btn {
//  width: 45%;
//}
//
//#main-form {
//  min-height: 100%;
//  /* equal to footer height */
//  margin-bottom: -1.5rem;
//}
//
//#main-form:after {
//  content: "";
//  display: block;
//  padding-top: 2rem;
//}
//
//footer, #main-form:after {
//  height: 1.5rem;
//}
//
//footer {
//  display: block;
//  text-align: center;
//  width: 100%;
//}
//
//.item {
//  display: table;
//  width:100%;
//  box-sizing: border-box;
//}
