<label class="item">
  <span class="label">{{label}}</span>
  <div class="item-input-wrapper">
    <input data-manipulator-target
           class="item-input"
           type="text"
           {{#attributes}} {{key}}="{{value}}" {{/attributes}}
    />
  </div>
</label>
