<div class="">
  <span class="label">{{label}}</span>
  <div data-manipulator-target>
    {{#options}}
      <label class="item">
        <span class="label">{{label}}</span>
        <input type="radio"
               class="item-radio"
               name="{{index}}"
               value="{{value}}"
        />
      </label>
    {{/options}}
  </div>
</div>
